.numberAd {
    padding-right: 100px!important;
}
.numberAd span {
    color: #27374D;
    text-shadow: none;
    padding: 5px;
    font-size: 1.4em;
}
#navbar-fixed  {
    margin: 0!important;
    background-color: rgba(255, 123, 106, 0.7);
}
#ad-paris-15 {
    padding-top: 70px;
    background-color: #122b40;
    height: 70%;
}
#ad-paris {
    padding-top: 70px;
    height: 80%;
    width: 100%;
    background: url('/img/paris/ad/appartement-paris-menage-nobo.jpg') center center no-repeat;
    min-width: 100%;
    background-size: cover;
}
.background-black {
    background-color: #27374d;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}
a.navbar-brand {
    padding: 0 0 0 10px;
}
.integration-photo-header > img,
.integration-photo-header-80 > img {
    height: 360px;
}
.integration-photo-header {
    position: absolute;
    bottom: 30%;
    left: 7%;
}
.integration-photo-header-80 {
    position: absolute;
    bottom: 20%;
    left: 7%;
}
.ad-title {
    font-size: 1.7em;
    font-weight: bold;
    color: #eeeeee;
}
.navbar-fixed-top li a:hover:after {
    background: #27374D;
}
.navbar {
    border-bottom: none;
}
.btn-ad-reservation {
    box-shadow: none;
    background-color: inherit;
    border: none;
    color: #FFF;
    font-size: 1.2em;
    border-bottom: 1px solid white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-ad-reservation:hover {
    font-style: italic;
    border-color: rgb(255, 123, 106);
}
.italic {
    font-style: italic;
}
.nav .navbar-text {
    color: #27374D;
}
@media only screen and (max-width: 767px) {
    #ad-paris-15 {
        height: 90%;
        padding-top: 70px!important;
    }
    #ad-paris {
        height: 90%;
    }
    .btn-stage {
        padding: 8px;
    }
    a.navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: relative;
    }
}
@media only screen and (min-width: 768px) {
    .ad-form-padding {
        padding-left: 60px;
        padding-right: 60px;
    }
    .navbar.navbar-transparent p {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .navbar-nav p {
        font-size: 1.4em;
        padding-top: 11px;
        padding-bottom: 11px;
        transition: all 0.3s;
    }
    .ad-stage-wrapper {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}
@media only screen and (max-width: 1500px) {
    .hidden-1500 {
        display: none;
    }
}