:root {
    --nobo-main-color: #ff8a80;
    --nobo-main-color-light: #ffe8e6;
    --nobo-grey-color: #eceff1;
    --nobo-grey-color-alt: #cfd8dc;
    --nobo-black-color: #263238;
    --nobo-black-color-alt: #37474f;
}

.nobo-background-main {
    background-color: var(--nobo-main-color);
}

.nobo-text-main {
    color: var(--nobo-main-color);
}

.margin-constraint{
    margin-left: 20px;
    margin-right: 20px;
}

.useful-width{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.margin-constraint, .useful-width{
    display: block;
    width: auto;
}
.no-content-width {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.debug {
    border: 1px solid red;
}
.material-icons {
    cursor: default;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.d-hidden {
    display: none;
}
.v-hidden {
    visibility: hidden;
}

/*
 * material design
 */

.material-switch > label {
    cursor: pointer;
    height: 0;
    position: relative;
    top: 2px;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    left: 0;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -8px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 23px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}