@viewport {
    /*width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

.h2-seo {
 text-transform: none;
 font-weight: 900;
}

.titre-seo {
    font-weight: 600;
    color: rgb(39,55,77);
    font-family: 'Cardo', sans-serif !important;
}

.intro-box {
    margin-bottom: 40px;
    background-color: rgb(39,55,77);
    background-color: rgba(39,55,77,0.7);
}

.intro-form {
    margin-bottom: 60px;
    background-color: rgb(39,55,77);
    background-color: rgba(39,55,77,0.7);
}

.img-center {
    margin:0 auto !important;
    display: block;
    width: 600px;
    max-width: 100%;
}

.h-small{
    display: block;
    font-family: 'Josefin Slab', serif!important;
    margin-top: 1em;
    text-transform: initial;
    font-size: 24px;
}

.fix-mission-border {
    border: none!important;
    padding: 0!important;
    margin-bottom: 1em!important;
}

@media screen and (min-height: 700px) and (max-height: 800px) {
.title-white img{
    display: none;
}
}

@media screen and (max-width: 550px) {
    .intro-lead-in {
        font-size: 1.2em!important;
    }
    .fix-h1-small {
        margin-top: 8px;
        font-size: 1.4em;
    }
    .intro-box > div > p {
        font-size: 16px!important;
    }
    .intro-box {
        text-align: center;
        padding: 0;
    }
    .intro-box > div {
        padding: 8px;
    }
    .intro-form .btn-stage {
        padding: 15px 10px 15px 10px;
    }
    .title-white img{
    max-width: 110px;
    }
}

.form-title{
    color:white;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
}
html, body {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: #3d3d3d;
    font-family: 'Cardo', sans-serif;
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
}

#offer h5 {
    font-size: 1.1em;
}

/*
*   -- Stage --
*/

#index p{
    font-size: 1.2em;
}

#index {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.stage p {
    font-size: 1.2em;
}

.stage {
    height: 100%;
    width: 100%;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#fond-haut-de-gamme {
    padding-top: 50px;
    min-height: 70%;
    width: 100%;
    background: url('/img/paris/fonds/menage-haut-de-gamme-luxe-a-domicile.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arrondissement-1er p{
    font-size: 1.2em;
}
#arrondissement-1er {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-1.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arrondissement-2eme p{
    font-size: 1.2em;
}
#arrondissement-2eme {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-2.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arrondissement-5eme p{
    font-size: 1.2em;
}
#arrondissement-5eme {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-5.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arrondissement-6eme p{
    font-size: 1.2em;
}
#arrondissement-6eme {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-6.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arrondissement-7eme p{
    font-size: 1.2em;
}
#arrondissement-7eme {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-7.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arrondissement-8eme p{
    font-size: 1.2em;
}
#arrondissement-8eme {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-8.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arrondissement-9eme p{
    font-size: 1.2em;
}
#arrondissement-9eme {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-9.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arrondissement-11eme p{
    font-size: 1.2em;
}
#arrondissement-11eme {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-11.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arrondissement-15eme p{
    font-size: 1.2em;
}
#arrondissement-15eme {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-15.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#arrondissement-16eme p{
    font-size: 1.2em;
}
#arrondissement-16eme {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-16.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#arrondissement-17eme p{
    font-size: 1.2em;
}

#arrondissement-17eme {
    padding-top: 100px;
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-17.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#photo-banner-50 {
    height: 65%;
    width: 100%;
    background: url('/img/paris/fonds/femme-de-menage-paris-nobo.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

/*
*   -- Landing page --
*/

.landing-wrapper {
    font-size: 1.4em;
    font-weight: 900;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #27374D;
}
@media only screen and (max-width: 480px) {
    .landing-wrapper {
        width: 80%;
    }
    .landing-wrapper button{
        width: 80%;
        font-size: 15px;
    }
    #stage {
        margin-top: 50px;
    }
}
.landing-wrapper h1 {
    font-weight: bold;
    font-size: 1.6em;
}
.landing-wrapper h2, .section h2 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
}
.landing-wrapper h3,
.titre-seo,
.section h3 {
    font-size: 0.9em;
}

@media only screen and (max-width : 767px) {
    .h-small{
        font-size: 20px !important;
    }
    .landing-wrapper h1 {
        font-size: 1.2em;
    }
    .landing-wrapper h2, .section h2 {
        font-size: 1em;
    }
    .landing-wrapper h3, .section h3 {
        font-size: 1em;
    }
}
.mission-wrap {
    margin-bottom: 2em;
}
.mission-tabs>li.active,
.mission-tabs>li.active>a{
    background-color: #eef2f6!important;
}
.mission-tabs>li.active>a{
    border-bottom-color: #eef2f6!important;
}
.mission-tabs {
    margin-top: 1.5em;
}
.mission-content h3{
    margin-top: 0;
    font-size: 1.8em;
}
.breadcrumb {
    text-align: center;
    background-color: #f2f2f2;
    /*border-bottom: 1px solid #223044;*/
    border-top: 2px solid #27374D;
    border-radius: 0;
}
.mission-content {
    background: #eef2f6;
    height: 180px;
    padding: 2em!important;
    border: 1px solid #DDDDDD;
    border-top: inherit;
}
.mission-tabs img{
    width: 35%;
}
#offer h4 {
    text-align: left;
    font-family: 'Cardo', sans-serif;
    font-weight: 600;
    color: #444444;
}
.gold {
    color: #C5A547;
}
.white {
    color: #FFF;
}
.blue {
    color: #27374D;
}
.red {
    color: #761c19;
}
.section {
    margin: 3em 0;
}
.landing-wrapper-dark {
    color: #FFF;
}
.section-dark {
    color: #FFF;
    background-color: #27374D;
}
#mission h4 {
    font-size: 1.2em;
}
.tooltip-inner
{
    width: 500px;
    font-family: 'Cardo', sans-serif;
    font-size: 1.2em;
}
.slider>.tooltip>.tooltip-inner
{
    width: inherit;
}
.offer-menu {
    background-color:#EEEEEE;
    color: #444444;
    padding: 2em;
    margin: 2em 0;
}
.offer-menu-section {
    margin: 3em 0;
}
.offer-wrapper {
    margin-top: -1em;
    font-size: 1.4em;
    font-weight: 200;
    text-align: center;
    color: #444444;
    min-height: 80px;
}
.offer-wrapper h3 {
    font-size: 1.1em;
}
.offer-wrapper p {
    font-style: italic;
    font-size: 0.8em;
}
.mission-gallery>div{
    width: 100%;
    margin: 0 auto;
}
.mission-gallery>div>div{
    padding: 0;
}
.glyphicon-info-sign {
    cursor: help;
}
.btn-gold {
    background-color: #C5A547;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 0.3em 0.8em;
    font-size: 1.4em;
    margin: 1em 0 0.5em 0;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn-gold:hover {
    background-color: #d4bd77;
    color: #FFFFFF;
}

#landing-footer {
    padding: 1.5em 0;
}
#landing-footer p{
    font-size: 0.6em;
}
#landing-footer a{
    border-bottom: 1px solid;
    cursor: default;
}
.brand {
    height: 28px;
    overflow: hidden;
}
/*how it works*/
#hiw {
    padding-top: 120px;
    min-height: 100%;
    width: 100%;
    background-color: #27374D;
    background-size: cover;
}
.hiw-box {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 1em;
    text-align: center;
    margin-top: 3em;
}
.hiw-box-body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
@media only screen and (min-width:1050px) {
    .hiw-box-body {
        min-height: 180px;
    }
}
#ask-form {
    text-align: center;
    margin-top: 3em;
}
#ask-form input{
    margin-top: 1em;
}
.hiw-footer {
    text-align: center;
    margin-bottom: 3em;
}

.section-transition {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.section-transition>div
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #27374D transparent transparent transparent;
    line-height: 0;
}
.voisin-arrow {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.voisin-arrow>div
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #FFFFFF transparent transparent transparent;
    line-height: 0;
}

#faq h1 {
    margin: 2em 0 1em 0;
}
.ci-box {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 1em;
    text-align: left;
    color: #555555;
}
.ci-box h3 {
    text-transform: inherit;
}
.ci-row {
    margin-top: 3em;
}
.question {
    padding: 1em 0;
}
.question h3 {
    color: #C5A547;
}
@media only screen and (min-width: 992px) {
    .ci-row {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-content: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.sticker img {
    margin: auto auto;
    padding: 0.5em 0;
}
.question h3 {
    text-transform: inherit;
    font-size: 1.7em;
}

.contact-content {
    text-align: center;
    margin: 3em 0;
}
.contact-content>div>p {
    margin-top: 1em;
}
#form-newsletter input{
    margin: 1em 0;
}
#sliderValLabel {
    margin-left: 20px;
}

@media screen and (max-width : 767px) {
    .slider {
        width: 160px!important;
    }
    .mission-content {
        height: 100%;
        padding: 0;
    }
    .panel-group.responsive img{
        width: 20%;
    }
    .panel-group.responsive a.accordion-toggle {
     display: block;
     padding: 10px  15px;
    }
    .panel-group.responsive div.panel-heading {
        padding: 0;
    }
    .nav.nav-tabs.nav-justified li {
        width: 33.3%;
        margin-bottom: -7px;
    }
    .nav.nav-tabs.nav-justified img {
        width: 80%;
    }
    ul.nav.nav-tabs.nav-justified {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-content: space-between;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}
@media screen and (min-width : 1400px) {
    .slider {
        width: 350px!important;
    }
}
#phone-xs div {
    display: none;
    position: fixed;
    width: 100%;
    height: 50px;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    -webkit-border-top-left-radius: 40%;
    -webkit-border-top-right-radius: 40%;
    -moz-border-radius-topleft: 40%;
    -moz-border-radius-topright: 40%;
    bottom: 0;
    background-color: #C5A547;
    color: #EEEEEE;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    z-index: 9999;
}
.sub-body {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    padding-top: 70px;
}
.sub-container {

    width: 50%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    .sub-container {
        width: 100%;
        margin: 1em auto;
    }
}
.sub-wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 17px;
}
.sub-head, .sub-foot {
    text-align: center;
}
.help-block {
    font-size: 0.85em;
}
.step {
    display: none;
}
.sub-detail {
    font-size: 10px;
    text-align: right;
}
.sub-foot button {
    width: 100%;
    margin: 0.3em 0;
}
.pac-container{
    z-index:99999 !important;
}
.progress-bar {
    background-color: #C5A547;
    color: #27374D;
}
.nomarge {
    margin: 0;
}
.price {
    display: none;
    margin-bottom: 1em;
    text-align: left;
}
.price>p>span {
    float: right;
}
.sub-hr {
    background-color: rgb(15, 15, 15);
    background-color: rgba(15, 15, 15, 0.5);
    height: 1px;
    margin: 0.5em auto;
}
.bold {
    font-weight: bold;
}
.priceNet, .priceBrut {
    font-size: 18px;
}
.btn-link {
    background: none;
    color: cornflowerblue;
    font-size: 10px;
}

.btn-link-v2 {
    background-color: transparent;
    border: none;
    font-size: 10px;
    padding: 0;
}
.btn-link-v2:hover {
    color: #1b6d85;
}
/*
.btn-blue {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #27374D;
    border: 0;
    color: #FFF;
}
.btn-blue:hover {
    background-color: #C5A547;
}*/
.has-error input {
    border-width: 2px;
}
.validation.text-danger:after {
    content: 'Validation failed';
}
.validation.text-success:after {
    content: 'Validation passed';
}
.feedback-carousel > .item > img {
    margin: 0 auto;
}
#sub-button {
    text-align: center;
}
@media only screen and (max-width: 400px) {
    .btn-gold-fix{
        font-size: 1em;
    }
    .h1-fix {
        font-size: 1.6em!important;
    }
}
@media only screen and (min-width: 768px) {
    .floater {
        padding-right: 0;
    }
}
@media only screen and (max-width: 768px) {
    .floater {
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 480px) {
    .sub-body h3 {
        font-size: 1.2em;
    }
}
.valign {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
.workTime-wrap-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
@media only screen and (min-width: 768px){
    .workTime-wrap-outer {
        padding-top: 2em;
        padding-bottom: 2em;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
    }
}
@media only screen and (min-width: 768px) {
    .pricing-head {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 2em;
        border: 2px solid #27374D;
    }
}
.pricing-title {
    text-transform: uppercase;
    font-size: 1.1em;
    width: 100%;
    color: #FFFFFF;
    border-bottom: 1px solid black;
    background-color: #C5A547;
}
.pricing-bubble {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.bubble {
    width: 33%;
    border-right: 1px solid black;
}
.bubble-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}
.bubble:last-of-type {
    border-right: none;
}
.sub-bg {
    text-align: center;
    background-color: #FFFFFF;
    border: 2px #27374D solid;
    border-radius: 2px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.pricing-head .active {
    color: #C5A547;
}
.workTtime {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
}
@media only screen and (max-width: 480px){
    .workTime-wrap-inner {
        margin: 0;
        padding: 0;
    }
}
.workTime-box {
    border: 2px solid black;
    padding: 10px;
    cursor: default;
}
.workTime-part {
    width: 33%;
}
.workTime-plus:hover, .workTime-minus:hover {
    cursor: pointer;

}
.workTime-plus, .workTime-minus {
    border: 1px dotted rgba(0,0,0,0.2);
}
.clear-center {
    text-align: left;
}
.recap>div>p>span {
    float: right;
}
.recap h4 {
    border-bottom: 1px dotted black;
}
.recap-detail {
    font-size: 14px;
    font-weight: 600;
}
.spaceTopBottom {
    margin-top: 1em;
    margin-bottom: 1em;
}
.spaceTop {
    margin-top: 1em;
}
#payLater {
    position:absolute;
    right: 0;
    line-height: 30px;
}
#rec3 {
    margin-top: 2em;
}
.slider-handle {
    background: #27374D!important;
}
.btn-rec {
    background: none;
    border: 2px solid #27374D;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-bottom: 2em;
    color: #FFFFFF;
}
.btn-rec:hover {
    background-color: #ccd7e5;
}
.btn-rec.cur {
    background-color: #27374D;
    border: 1px solid black;
}
.btn-rec span{
    opacity: 0;
}.btn-rec.cur span{
     opacity: 1;
 }
.ponctuel-title {
    text-transform: uppercase;
    font-size: 1.1em;
    width: 100%;
    color: #FFFFFF;
    border-bottom: 1px solid black;
    background-color: #27374D;
}
@media only screen and (min-width: 480px) {
    .group-pricing {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 1em;
    }
}

.print-price {
    padding: 8px;
    border-bottom: 1px solid black;
}
.print-price>p:first-child {
    font-size: 2em;
}
.print-price>p:last-child {
    font-size: 1em;
}
.ponctuel-price>p:first-child {
    color: #27374D;
}
.rec-price>p:first-child {
    color: #C5A547;
}
.error-sub {
    color: #A94442;
}
#team p {
    font-size: 0.8em;
}
.team-box h3{
    color: #0f0f0f;
}
.team-box {
    background-color: #FFFFFF;
    border-radius: 6px;
    color: #444444;
    padding: 20px 30px;
}
@media only screen and (min-width: 768px) {
    .team-wrap {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 768px) {
    .team-wrap {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .team-wrap:nth-of-type(odd)>div:first-child{
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
}

.team-wrap img {
    margin:auto;
}
.team-wrap>div {
    margin-top: 2em;
}
.pricing-container {
    margin: 2em auto;
    border: 2px solid #27374D;
}
.tarif-section {
    margin: 2em auto;
}
.tarif-section img{
    margin: auto;
}
.code-error {
    border: 2px solid #A94442;
}
.code-valide {
    border: 2px solid #009933;
}
.promo-detail {
    border: 1px dotted rgba(0,0,0,0.2);
    font-size: 20px;
    color: #27374D;
}
.voisin-box {
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
.voisin-box p:last-child {
    color: #0f0f0f;
}
.voisin-box p:first-child {
    color: #8c8c8c;
}
.voisin-wrap img {
    margin-top: 1em;
    width: 80px;
    height: 80px;
}
.voisin-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.voisin-section {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.5em;
    background-color: #F3F3F3;
    border-radius: 4px;
}
.carousel-maid {
    margin-top: 2em;
    text-align: center;
}
.info-content h2 {
    margin-top: 0;
    text-transform: none;
}
.info-row>div:last-child {
    padding-left: 10px;
    border-left: 2px solid rgba(150, 150, 150, 0.3);
}
.info-content {
    margin-top: 1em;
    margin-bottom: 2em;
}
.info-row {
    margin-top: 1em;
}
.feed-section {
    color: white;
    background-color: transparent;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
}
.footer-foot {
    text-align: center;
}
.footer-link > div {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.footer-link a:hover {
    text-decoration: none;
    color: white;
}
.btn-arr {
    margin-top: 3em;
    padding: 10px;
}
.btn-stage {
    color: #FFF;
    background: none;
    background: rgba(0, 0, 0, 0.4);
    padding: 0.9em 2em;
    border: 2px solid #FFF;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.btn-stage:hover {
    color: white;
    text-decoration: none;
    background: rgb(200, 200, 200);
    background: rgba(100, 100, 100, 0.4);
}
.black {
    color:black!important;
}
.nav-black li a {
    color:black!important;
}
.title-black
{
    color: black;
    background: none;
    background: rgba(255, 255, 255, 0.5);
    padding: 2px;
}
.link {
    text-align: center;
}
.maid-subTitle {
    font-size: 1.1em;
    font-style: oblique;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
/*n_t-start*/
.n_t-title {
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
}
.n_t-bottom-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.n_t-top {
    border-bottom: 1px solid #cccccc;
}
.bg-blue-light {
    background-color: #EEF2F6;
}
.n_t-bottom p{
    margin: 0;
}
.n_t-bottom {
    background-color: #FFFFFF;
}
.bg-gold {
    background-color: #E2D2A3;
}
.bg-blue {
    background-color: #27374D;
}
.n_t-price {
    z-index: 3;
    background-color: #FFFFFF;
    color: #3d3d3d;
    border-radius: 1px;
    padding: 0;
    border: 5px solid transparent;
    -moz-border-image: -moz-radial-gradient(#ffffff 0%, #cccccc 100%); /* FF3.6-15 */
    -webkit-border-image: -o-radial-gradient(#ffffff 0%, #cccccc 100%); /* FF3.6-15 */
    -o-border-image: radial-gradient(#ffffff 0%, #cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-image: -webkit-radial-gradient(#ffffff 0%, #cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    border-image-slice: 1;
}
.n_t-price > div {
    padding: 0.5em;
}
.n_t-detail-price.gold {
    font-weight: bold;
}
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -12px;
    right: -13px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 80px;/*100*/
    height: 80px;/*100*/
    border-radius: 3px 5px 3px 0;
}
.cnrflash-reservation
{
    /*Position correctly within container*/
    position: absolute;
    top: 22px;
    right: 7px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 80px;
    height: 80px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 115px;/*145*/
    height: 115px;/*145*/
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -12px;
    width: 0;
    height: 0;
    border: 6px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .n_t-wrap {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .n_t-detail-price {
        font-size: 1.5em;
    }
    .n_t-detail-price.gold {
        font-size: 2em;
    }
    .n_t-bottom {
        height: 80px;
    }
}
@media only screen and (min-width: 768px) {
    .n_t-wrap {
        margin-top: 1em;
        margin-bottom: 2em;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .n_t-bottom {
        height: 100px;
    }
    .n_t-detail-price {
        font-size: 2em;
    }
    .n_t-detail-price.gold {
        font-size: 2.8em;
    }
}
/*n_t-end*/
.move-forward {
    z-index: 999999999;
}
.h2-sub {
    color: white;
}
/* TODO: virer le fix temporaire ci-dessous */
#feed .landing-wrapper{
    color: white;
}

.intro-box {
    margin-top: 40px;
    background-color: rgb(39,55,77);
    background-color: rgba(39,55,77,0.7);
}

.btn-stage-v2 {
    color: #FFF;
    background: none;
    background: rgba(0, 0, 0, 0.4);
    padding: 0.9em 2em;
    border: 2px solid #FFF;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.btn-stage-v2:hover {
    background: rgb(200, 200, 200);
    background: rgba(100, 100, 100, 0.4);
}
.btn-arr {
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 1.2em;
    padding: 15px;
}
.underline {
    text-decoration: underline;
}
.nomarge-bottom {
    margin-bottom: 0;
}
.pad-top {
    padding-top: 3em;
}
.img-70 {
    width: 70%;
}
.img-center {
    margin: 0 auto;
}
@media only screen and (max-width: 768px) {
    .pad-top {
        padding-top: 1em;
    }
    .nopadding-xs {
        padding: 0;
    }
}
@media only screen and (min-width: 768px) {
    .team-wrap-all {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}
.section-title {
    font-size: 1.4em;
}
.func-sticker {
    background-color: rgb(240, 240, 240);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.func-sticker > img {
    width: 50%;
    margin: auto auto;
}
@media only screen and (max-width: 468px) {
    .fix-h2-small {
        font-size: 1.2em !important;
    }
    .func-sticker {
        height: 100px;
        width: 100px;
    }
    .func-sticker > img {
        width: 70%;
        margin: auto auto;
    }
    .mission-img:last-of-type {
        margin-top: 2em;
    }
    .mission-img {
        width: 30%;
        margin: auto auto;
    }
}
.team-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.team-fdc {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.team-fdc>div {
    margin-top: 1em;
}
@media only screen and (min-width: 768px) {
    .team-fdc>div:first-child {
        margin-top: 0;
    }
}
.a-default {
    color: white;
    text-decoration: none;
}
.a-default:hover {
    color: white;
    text-decoration: underline;
}
.btn-outline-blue {
    color: #27374D;
    background: transparent;
    padding: 0.9em 2em;
    border: 2px solid #27374D;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.btn-outline-blue:hover {
    background: rgb(197, 165, 71);
    background: rgba(197, 165, 71, 0.8);
}
.section-dark .btn-outline-blue {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.flex-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-col {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-arround-stretch {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex-arround {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-center {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-center-stretch {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.fonc-wrap {
    padding-top: 45px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.carousel-content>div {
    width: 100%;
    height: 300px;
    background-color: #27374D;
}
.carousel-indicators-numbers>li {
    text-indent: 0;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    line-height: 30px;
    color: #fff;
    background-color: #999;
    transition: all 0.25s ease;
}
.carousel-indicators-numbers>li:hover,
.carousel-indicators-numbers>li.active {
    margin: 0 2px;
    width: 30px;
    height: 30px;
    background-color: #337ab7;
}
.carousel>.carousel-control:hover,
.carousel>.carousel-control>span:hover {
    color: #C5A547;
}
.carousel>.carousel-control {
    background-color: inherit;
    text-shadow: none;
    background-image: none;
}
.link-section {
    margin-top: 3em;
    margin-bottom: 3em;
}
.margeTopBottom-3 {
    margin-top: 2em;
    margin-bottom: 2em;
}
.margeTopBottom-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.color-lblue {
    color: #EEF2F6;
}
.color-grey {
    color: #f2f2f2;
}
.breadcrumb>li+li:before {
    color: #27374D;
    content: ">";/*content:"/\00a0"*/
}
.color-gold {
    color: #C5A547;
}