.footer {
    background-color: #eef2f6;
    border-top: 3px solid #223044;
}
.log-icon {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.log-icon > a {
    border-bottom: 1px solid #27374D;
    border-left: 1px solid #27374D;
    border-right: 1px solid #27374D;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.log-icon > a:hover {
    border-color: #C5A547;
}
.log-icon > a > img {
    display: block;
    width: 26px;
    height: 26px;
}
.log-icon > a > img:nth-child(2) {
    position: absolute;
    opacity: 0;
    top: 5px;
}
.log-icon > a:hover > img:nth-child(2) {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.log-icon > a:hover > img:nth-child(1) {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.footer p {
    margin: 0;
    padding: 0;
    color: #27374D;
}
.footer p > a:hover {
    color: #C5A547;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.footer a {
    color: inherit;
}
.footer a:hover {
    color: inherit;
    text-decoration: inherit;
}
.footer > div:first-child {
    text-align: center;
}
.footer > div {
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .footer > .right-aligned {
        padding: 1em;
        text-align: right;
    }
    .footer > .left-aligned {
        padding: 1em;
        height: 180px;
        border-left: 3px dotted rgb(39, 55, 77);
        border-left: 3px dotted rgba(39, 55, 77, 0.3);
        text-align: left;
    }
}
@media only screen and (max-width: 992px) {
    .footer > div:nth-child(1) {
        text-align: center;
    }
}
.footer-logo img {
    padding: 0.3em;
    height: 80px;
    margin: 1em auto;
}
.footer > div:last-child {
    text-align: center;
    padding-top: 1em;
}
.footer .footer-awards img{
    margin-top: 1em;
    height: 180px;
}