.navbar {
    z-index: 1000;
    background: #27374D;
    background: rgba(39, 55, 77, 1);
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 3px solid #C5A547;
    transition: all 0.3s;
}
.navbar.navbar-transparent {
    border: none;
    background: rgba(39, 55, 77, 0.6);
}
.navbar-brand {
    padding: 15px;
    height: 80px;
    line-height: 80px;
    transition: all 0.3s;
}
.navbar.navbar-transparent .navbar-brand{
    height: 60px;
    line-height: 60px;
}
.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
    transition: all 0.3s;
}
.navbar.navbar-transparent .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 12px;
    padding: 2px 3px !important;
}
@media (min-width: 768px) {
    .navbar {
        height: 80px;
    }
    .navbar.navbar-transparent {
        height: 60px;
    }
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
        transition: all 0.3s;
    }
    .navbar.navbar-transparent .navbar-nav > li > a {
        padding-top: 16.5px;
        padding-bottom: 16.5px;
        line-height: 27px;
    }
}

.navbar-brand img {
    height: 100%;
    width: auto;
}
.nav.navbar-nav li a {
    font-size: 1.2em;
    font-weight: 200;
}

.navbar-fixed-top a {
    color: white !important;
}
.navbar-fixed-top li a:hover {
    color: #C5A547 !important;
}
@media only screen and (max-width : 980px) {
    .navbar-fixed-top {
        font-size: 12px;
    }
}
@media only screen and (min-width: 768px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
    .nav.navbar-nav li a:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    .navbar-brand:after, .navbar-btn:after, .navbar-brand {
        content: none!important;
    }
    .navbar-fixed-top li a:hover:after {
        width: 100%;
        background: #C5A547;
    }
}
.navbar-fixed-top li a.navNumber {
    color: #C5A547 !important;
    font-size: 1.4em;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #27374D;
    z-index: 1000000;
    margin-top: -2px;
}
/*
.navbar-collapse a {
    background-color: #27374D;
}
*/
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: inherit;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: inherit;
    background-image: inherit;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a {
    background-image: inherit;
}