.gold {
    color: #C5A547;
}
.white {
    color: #FFF;
}
.link-gold.blue,
.blue {
    color: #27374D;
}
.blue-light {
    color: #EEF2F6;
}
.red-darker {
    color: #761c19;
}
.red {
    color: #A94442;
}
.bold {
    font-weight: bold;
}
.btn-gold {
    background-color: #C5A547;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn-gold:hover {
    background-color: #d4bd77;
    color: #FFFFFF;
}
.btn-stage {
    color: #FFF;
    background: transparent;
    padding: 0.9em 2em;
    border: 2px solid #FFF;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.btn-stage:hover {
    background: rgb(200, 200, 200);
    background: rgba(255, 255, 255, 0.3);
}
.btn-blue {
    background-color: #27374D;
    border: 0;
    color: #FFF;
}
.btn-blue:hover {
    background-color: #C5A547;
}
.section-transition {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.section-transition > div
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    line-height: 0;
}
.section-transition-blue > div {
    border-color: #27374D transparent transparent transparent;
}
.section-transition-white > div {
    border-color: #FFFFFF #27374D #27374D #27374D;
}
.section-transition-white {
    background-color: #27374D;
    margin-top: 2em;
}
.border-transition-blue {
    width: 100%;
    border: 1px solid #27374D;
    margin: 1em 0;
}
.cursor-pointer{
    cursor: pointer;
}
.first-section {
    padding-top: 60px;
}
.title-white {
    color: white;
    background: rgb(39, 55, 77);
    background: rgba(39, 55, 77, 0.8);
    padding: 2px;
}
.title-black {
    color: black;
    background: none;
    background: rgba(255, 255, 255, 0.5);
    padding: 2px;
}
.nomarge {
    margin: 0;
}
.nopadding {
    padding: 0;
}
.link-gold {
    color: #999999;
}
.link-gold:hover {
    color: #C5A547;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.intro-box img,
.title-black img,
.title-white img {
    max-width: 160px;
}
.debug {
    border: 1px solid red;
}
.debug-2 {
    border: 2px solid yellow;
}