@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

#container {
    width: 100%;
    overflow: hidden;
}
.lightbox {
    /** Hide the lightbox */
    display: none;

    /** Apply basic lightbox styling */
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color:#333333;
    background-color: #00000073;
}
.lightbox:after {
    content: '';
    display: table;
    clear: both;
}
.lightbox .box {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width: 800px;
    min-height: 0px;
    margin: 8% auto;
    background-color:#ffb8ae;
}
.lightbox .popup-box{
    overflow: auto;
    min-height: 0px;
}
.lightbox .logo{
    margin: auto;
    text-align: center;
}
#text > div > div > div > div.header-popup > div > div > img{
    display: block;
    margin: auto;
}
.lightbox .right{
    background-color: white;
}
.lightbox .header-group{
    padding: 20px;
}
.lightbox .title-modal {
    margin: 0;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}
.lightbox .subtitle-modal {
    margin:0;
    padding:0 0 10px 0;
    font-size:16px;
    text-align: center;
}

.lightbox .content {
    display: block;
    /*padding: 10px 0 0 0;*/
    font-size:18px;
    line-height:22px;
    padding: 20px;
}

.lightbox .btn-pink{
    background-color: #ffb8ae;
    width: 100%;
    font-weight: bold;
}

.lightbox .btn-pink:hover{
    background-color: #cec7c6;
}

.lightbox .btn-grey{
    background-color: #e9ecef;
}

.lightbox .close-cross {
    float:right;
    display:block;
    text-decoration:none;
    font-size:22px;
    color:#858585;
}

.lightbox .open {
    /** Show lightbox when mouse leaves the browser window */
    display: block;
    outline: none;
}

.lightbox .height-phone{
    min-height: 260px;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .lightbox{
        background-color: #00000000;
    }

    .lightbox .box {
        min-width: 290px;
        /* background-color: #ffffff00; */
        margin-top: 0;

    }

    .lightbox .right{
        min-height: 320px;
    }

    .lightbox .height-phone{
        min-height: 260px;
    }

    .lightbox{
        display: none;
    }

    .lightbox .title-modal{
        font-size: 15px;
    }

    .lightbox .right{
        min-height: 320px;
    }

    #text > div > div > div > div.header-popup > div > div > img{
        display: block;
        margin: auto;
        width: 100px;
    }

    .lightbox .content {
        padding: 0;
    }

    .lightbox .input-lg {
        height: 33px;
        font-size: 13px;
    }

    .lightbox #form-newsletter input{
        margin: 0;
    }

    .lightbox .right{
        min-height: 279px;
        background-color: #ffffffc2;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .lightbox{
        background-color: #00000000;
    }

    .lightbox .box {
        min-width: 350px;
        /* background-color: #ffffff00; */
        margin-top:0px;
    }

    .lightbox{
        display: none;
    }

    .lightbox .title-modal{
        font-size: 15px;
    }

    #text > div > div > div > div.header-popup > div > div > img{
        display: block;
        margin: auto;
        width: 100px;
    }

    .lightbox .content {
        padding: 0px;
    }

    .lightbox .input-lg{
        height: 33px;
        font-size: 13px;
    }

    .lightbox #form-newsletter input{
        margin: 0;
    }

    .lightbox .right{
        max-height: 279px;
        background-color: #ffffffc2;
    }
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .lightbox{
        background-color: #00000000;
    }

    .lightbox .box {
        min-width: 380px;
        /* background-color: #ffffff00; */
        margin-top:0;
    }

    .lightbox{
        display: none;
    }

    .lightbox .title-modal{
        font-size: 15px;
    }

    #text > div > div > div > div.header-popup > div > div > img{
        display: block;
        margin: auto;
        width: 100px;
    }

    .lightbox .content {
        padding: 0;
    }

    .lightbox .input-lg{
        height: 33px;
        font-size: 13px;
    }

    .lightbox #form-newsletter input{
        margin: 0;
    }

    .lightbox .right{
        max-height: 279px;
        background-color: #ffffffc2;
    }
}



