@viewport {
    /*width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

@font-face {
    font-family: "Signarita";
    src: url(../fonts/signarita.ttf);
}
html, body {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: #3d3d3d;
    font-family: 'Cardo', sans-serif;
    font-size: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
}
h5 {
    font-size: 1.1em;
}
@media only screen and (max-width: 767px) {
    h1{
        font-size: 1.8em!important;
    }
    h2 {
        font-size: 1.4em!important;
    }
    p {
    }
}
/*
*   -- Stage --
*/
.landing-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
    color: #8c8c8c;
    font-size: 0.8em;
}
.landing-wrapper.landing-wrapper-dark p {
    color: #b3b3b3;
}
#scroller p {
    cursor: pointer;
}
#stage {
    padding-top: 30px;
    height: 100%;
    width: 100%;
    background: url('/img/paris/fonds/menage-haut-de-gamme-luxe-a-domicile.jpg') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.btn-stage {
    font-size: 1.1em;
    margin-top: 3em;
}
/*
*   -- Landing page --
*/

.landing-wrapper {
    font-size: 1.4em;
    font-weight: 200;
    max-width: 95rem;
    margin: 0 auto;
    text-align: center;
    color: #27374D;
}
@media only screen and (max-width: 480px) {
    .landing-wrapper {
        width: 80%;
    }
    .landing-wrapper button {
        width: 80%;
        font-size: 15px;
    }
    .hidden-xxs {
        display: none;
    }
    .landing-wrapper h2 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
.landing-wrapper h3, .section h3 {
    font-size: 1.5em;
}
.section {
    margin: 3em 0;
}
@media only screen and (max-width:767px) {
    .mission-wrap {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-content: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .mission-wrap>div {
        padding: 0;
    }
    .mission-wrap:nth-child(odd) > div:first-child {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .mission-wrap > div:first-child {
        padding: 0;
    }
    .mission-wrap {
        border: 1px #CCCCCC solid;
        border-radius: 5px;
        height: 120px;
    }
    .mission-wrap h3 {
        text-transform: none;
        margin: 0;
    }
    .mission-wrap:first-child {
        margin-top: 0;
    }
    .mission-wrap {
        margin-top: 1em;
    }
    .section {
        margin: 1em 0;
    }
}
.team-box-main h4,
.team-box-main p,
.team-box h4,
.team-box p {
    margin: 0!important;
}
.seperate-name {
    padding: -5px 0;
}
.team-box>div {
    padding: 0.5em;
}
.team-box {
    border-radius: 6px;
    padding: 0;
}
.mission-wrap>div:first-child {
    margin: auto;
}
@media only screen and (min-width:992px) {
    .below-sticker {
        height: 70px;
        border: 1px #CCCCCC solid;
        border-radius: 5px;
        padding: 1em;
    }
}
.landing-wrapper-dark p{
    color: grey;
}
.landing-wrapper-dark {
    color: #FFF;
}
.section-dark {
    color: #FFF;
    background-color: #27374D;
}
#mission h4 {
    font-size: 1.2em;
}
.tooltip-inner
{
    width: 500px;
    font-family: 'Cardo', sans-serif;
    font-size: 1.2em;
}
.slider>.tooltip>.tooltip-inner
{
    width: inherit;
}
.offer-footer {
    text-align: center;
}
.offer-menu {
    margin-top: 2em;
    margin-bottom: 2em;
}
.offer-wrap {
    text-align: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.mission-gallery>div{
    width: 100%;
    margin: 0 auto;
}
.mission-gallery>div>div{
    padding: 0;
}
.glyphicon-info-sign {
    cursor: help;
}
#landing-footer {
    padding: 1.5em 0;
}
#landing-footer a{
    border-bottom: 1px solid;
    cursor: default;
}
#landing-footer a:hover{
    border: none;
}
.brand {
    height: 28px;
    overflow: hidden;
}
/* -- how it works*/
#hiw {
    padding-top: 120px;
    width: 100%;
    background-color: #27374D;
    background-size: cover;
}
.hiw-box {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 1em;
    text-align: center;
    margin-top: 3em;
}

.hiw-box-body {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: center;
    justify-content: space-around;
}
.hiw-footer {
    text-align: center;
    margin: 2em 0;
}

@media only screen and (min-width:992px) {
    .hiw-wrapper {
        margin-top: 3em;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-content: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .hiw-box {
        margin: 0 1em 0 1em;
    }

    .hiw-box-body {
        min-height: 180px;
    }
}

#ask {
    padding: 1em 0 2em 0;
}
#ask-form {
    text-align: center;
    margin-top: 1em;
}
#ask-form button{
    margin-top: 1em;
}
/* -/ How it works */
.ci-box {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 1em;
    text-align: left;
    color: #555555;
}
.ci-box h3 {
    text-transform: inherit;
}
.ci-row {
    margin-top: 3em;
}
.question {
    padding: 1em 0;
}
.question h3 {
    color: #C5A547;
}
@media only screen and (min-width: 992px) {
    .ci-row {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-content: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.sticker img {
    margin: auto auto;
    padding: 1em 0;
}
.question h3 {
    text-transform: inherit;
    font-size: 1.7em;
}

.contact-stickers {
    text-align: center;
    margin: 3em 0;
}
.contact-stickers>div>p {
    margin-top: 1em;
}

.btn-tarif {
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    color: #C5A547;
    padding: 0.6em 1em;
}
.btn-tarif:hover {
    border: 3px #EEEEEE solid;
}
.btn-tarif.cur{
    border: 3px #C5A547 solid;
    color: #EEEEEE;
}
#form-newsletter input{
    margin: 1em 0;
}

#sliderValLabel {
    margin-left: 20px;
}

@media screen and (max-width : 767px) {
    .slider {
        width: 160px!important;
    }
}
@media screen and (min-width : 1400px) {
    .slider {
        width: 350px!important;
    }
}
.tarif-content{
    margin-top: 6em;
    text-align: center;
}
@media screen and (min-width : 992px) {
    .tarif-content {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .tarif-content>div:nth-of-type(2) {
        border-left: 3px #EEEEEE solid;
    }
}
.tarif-footer{
    margin: 1em 0;
    text-align: center;
}
.btn-tarif-section {
    margin: 1em 0;
}
.btn-tarif-section>div {
    padding: 0;
}
.btn-tarif-section>div>button {
    height: 60px;
    padding: 0;
}
#priceBase {
    font-size: 2em;
    font-weight: bold;
    color: #C5A547;
}
.tarif-print {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0;
    margin: 1em 0;
}
.tarif-box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 1em 0.3em;
    margin: 1.2em 0;
    border: 1px #EEEEEE solid;
    text-align: center;
}
#phone-xs div{
    display: none;
    position: fixed;
    width: 100%;
    height: 50px;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    -webkit-border-top-left-radius: 40%;
    -webkit-border-top-right-radius: 40%;
    -moz-border-radius-topleft: 40%;
    -moz-border-radius-topright: 40%;
    bottom: 0;
    background-color: #C5A547;
    color: #EEEEEE;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    z-index: 9999;
}

.sub-body {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}
.sub-container {
    width: 50%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .sub-container {
        width: 100%;
        margin: 1em auto;
    }
}
.sub-wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 17px;
}
.sub-head, .sub-foot {
    text-align: center;
}
.help-block {
    font-size: 0.85em;
}
.step {
     display: none;
 }
.sub-detail, .team-detail {
    font-size: 12px;
    margin-top: 1em;
}
.sub-foot button {
    width: 100%;
    margin: 0.3em 0;
}
.pac-container{
    z-index:99999 !important;
}
.progress-bar {
    background-color: #C5A547;
    color: #27374D;
}
@media only screen and (max-width: 767px) {
    .nopadding-xs-left-right {
        padding-left: 0;
        padding-right: 0;
    }
    .nomarge-xs {
        margin: 0;
    }
    .h3-xs {
        font-size: 1.3em;
    }
    .fdc-experience {
        margin-top: 10px;
    }
    .team-fdc>div:first-child {
        margin-top: 1em!important;
    }
    .team-fdc>div {
        margin-top: 0.5em!important;
    }
}
.team-subtitle {
    margin: 0;
    color: grey;
}
.team-wrap-all h4{
    margin: 0;
}
.price {
    display: none;
    margin-bottom: 1em;
    text-align: left;
}
.price > p > span {
    float: right;
}
.sub-hr {
    background-color: rgb(15, 15, 15);
    background-color: rgba(15, 15, 15, 0.5);
    height: 1px;
    margin: 0.5em auto;
}
.priceNet, .priceBrut {
    font-size: 18px;
}
.sub-bg {
    text-align: center;
    background-color: #FFFFFF;
    border: 2px #27374D solid;
    border-radius: 2px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.btn-link {
    background: none;
    color: cornflowerblue;
    font-size: 10px;
}

.btn-link-v2 {
    background-color: transparent;
    border: none;
    font-size: 10px;
    padding: 0;
}
.btn-link-v2:hover {
    color: #1b6d85;
}
.has-error input {
    border-width: 2px;
}
.validation.text-danger:after {
    content: 'Validation failed';
}
.validation.text-success:after {
    content: 'Validation passed';
}
#sub-button {
    text-align: center;
}
.h1-fix {
    margin-top: 2em;
}
@media only screen and (max-width: 400px) {
    .btn-gold-fix{
        font-size: 1em;
    }
    .h1-fix {
        font-size: 1.6em!important;
    }
}
.h1-stage {
    text-transform: none;
    font-family: 'Cardo', sans-serif;
    margin-top: 0;
    line-height: 1.4em;
}
.p-stage {
    font-size: 2.4em;
    color: inherit;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    line-height: 1.1em;
}
@media only screen and (min-width: 768px) {
    .img-stage {
        margin: 20px auto;
    }
    .h1-stage {
        font-size: 1.3em;
        color: #DDDDDD;
    }
    .team-wrap-all h4{
        margin-top: 1em;
    }
    .floater {
        padding-right: 0;
    }
    .all-mission-wrap {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-content: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .mission-wrap {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-content: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media only screen and (max-width: 767px) {
    .floater {
        margin: 0;
        padding: 0;
    }
    .p-stage {
        font-size: 1.8em;
    }
    .h1-stage {
        font-size: 1.3em!important;
    }
}
@media only screen and (max-width: 480px) {
    .sub-body h3 {
        font-size: 1.2em;
    }
}
.valign {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.workTime-wrap-inner {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
@media only screen and (min-width: 768px){
    .workTime-wrap-outer {
        padding-top: 2em;
        padding-bottom: 2em;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .pricing-head {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 2em;
        border: 2px solid #27374D;
    }
}
.pricing-choice {
    padding-top: 1em;
    padding-bottom: 1em;
    height: 120px;
}
.pricing-choice:nth-of-type(1) {
    border-right: 1px groove black;
}
.pricing-choice:nth-of-type(2) {
    border-left: 1px groove black;
}
.pricing-title {
    text-transform: uppercase;
    font-size: 1.1em;
    width: 100%;
    color: #FFFFFF;
    border-bottom: 1px solid black;
    background-color: #C5A547;
}
.pricing-bubble {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.bubble {
    width: 33%;
    border-right: 1px solid black;
}
.bubble-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: center;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.bubble:last-of-type {
    border-right: none;
}
.pricing-head .active {
    color: #C5A547;
}
.workTtime {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
}
@media only screen and (max-width: 480px){
    .workTime-wrap-inner {
        margin: 0;
        padding: 0;
    }
}
.workTime-box {
    border: 2px solid black;
    padding: 10px;
    cursor: default;
}
.workTime-part {
    width: 33%;
}
.workTime-plus:hover, .workTime-minus:hover {
    cursor: pointer;

}
.workTime-plus, .workTime-minus {
    border: 1px dotted rgb(0,0,0);
    border: 1px dotted rgba(0,0,0,0.2);
}
.clear-center {
    text-align: left;
}
.recap>div>p>span {
    float: right;
}
.recap h4 {
    border-bottom: 1px dotted black;
}
.recap-detail {
    font-size: 14px;
    font-weight: 600;
}
.spaceTopBottom {
    margin-top: 1em;
    margin-bottom: 1em;
}
.spaceTop {
    margin-top: 1em;
}
.space-top-3 {
    margin-top: 3em;
}
#payLater {
    float: right;
    line-height: 30px;
}
@media only screen and (max-width: 480px) {
    #payLater {
        width: 100%
    }
}
.slider-handle {
    background: #27374D!important;
}
.btn-rec {
    background: none;
    border: 2px solid #27374D;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    color: #FFFFFF;
}
.btn-rec:hover {
    background-color: #ccd7e5;
}
.btn-rec.cur {
    background-color: #27374D;
    border: 1px solid black;
}
.btn-rec span{
    opacity: 0;
}.btn-rec.cur span{
     opacity: 1;
 }
.ponctuel-title {
    text-transform: uppercase;
    font-size: 1.1em;
    width: 100%;
    color: #FFFFFF;
    border-bottom: 1px solid black;
    background-color: #27374D;
}
/*TODO:delete*/
@media only screen and (min-width: 480px) {
    .group-pricing {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 1em;
    }
}

.print-price {
    padding: 8px;
    border-bottom: 1px solid black;
    height: 120px;
}
.print-price>p:first-child {
    font-size: 2em;
}
.print-price>p:last-child {
    font-size: 1em;
}
.ponctuel-price>p:first-child {
    color: #27374D;
}
.rec-price>p:first-child {
    color: #C5A547;
}
.error-sub {
    color: #A94442;
}
.team-box-main>div:last-child {
    margin-top: 0;
    color: grey;
}
.team-box-main>div:last-child>p {
    padding: 0;
}
.team-box-main.team-box {
    color: #27374D;
    padding-top: 10px;
    background-color: #FFFFFF;
}
.team-box {
    background-color: #E2D2A3;
    color: #444444;
}
.pricing-container {
    margin: 2em auto;
    border: 2px solid #27374D;
}
.tarif-section {
    margin: 2em auto;
}
.tarif-section img{
    margin: auto;
}
.code-error {
    border: 2px solid #A94442;
}
.code-valide {
    border: 2px solid #009933;
}
.promo-detail {
    font-size: 20px;
    border: 1px dotted rgb(39, 55, 77);
    border: 1px dotted rgba(39, 55, 77, 0.2);
}
.promo-detail-success {
    color: #009933;
}
.promo-detail-fail {
    color: #A94442;
}
.little-italic {
    font-style: italic;
    font-size: 12px;
}
.sticker-title {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.voisin-box {
    width: 100%;
    background-color: #EEF2F6;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
.voisin-box p:last-child {
    color: #0f0f0f;
}
.voisin-box p:first-child {
    color: #27374D;
}
.voisin-box>p {
    margin: 0;
}
.voisin-wrap img {
    margin-top: 1em;
    margin-bottom: 3em;
    width: 120px;
    height: 120px;
}
.voisin-wrap {
    padding: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.item-space {
    padding: 0 12em 0 12em;
}
.voisin-section {
    margin-top: 1em;
    margin-bottom: 3em;
    height: 300px;
}
.voisin-arrow {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.voisin-arrow>div
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #EEF2F6 transparent transparent transparent;
    line-height: 0;
}
i {
    color: #27374D;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.carousel-maid {
    margin-top: 2em;
    text-align: center;
}
.info-side {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.info-content {
    display: -webkit-flex;
    display: flex;
}
.feed-section {
    padding: 1em 0;
}
.section-grey {
    background-color: #333333;
    color: #FFFFFF;
}
.section-grey img{
    margin: 0 auto;
    padding-top: 20px;
}
 .sub-head {
     width: 100%;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-flex-wrap: nowrap;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-align-content: stretch;
     align-content: stretch;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
 }
.reservation-ban-1 {
    width: 40%;
    height: 20px;
    background-color: #27374D;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.reservation-ban-2 {
    width: 20%;
    height: 20px;
    padding: 40px;
}
.reservation-ban-2 img {
    display: block;
    max-height: 80px;
    margin: auto auto;
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
}
.reservation-ban-3 {
    width: 40%;
    height: 20px;
    background-color: #27374D;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}

@media only screen and (max-width: 991px) and (min-width: 480px){
    .reservation-ban-1,
    .reservation-ban-3 {
        width: 25%;
    }
    .reservation-ban-2 {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .reservation-ban-1,
    .reservation-ban-3 {
        width: 5%;
    }
    .reservation-ban-2 {
        width: 90%;
    }
}
.n_t-title {
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
}
.n_t-bottom-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.label-red {
    background-color: #9E0101;
    margin: 0;
}
.label-gold {
    background-color: #C5A547;
}
.label-blue  {
    background-color: #27374D;
}
.n_t-top {
    border-bottom: 1px solid #cccccc;
}
.bg-blue-light {
    background-color: #EEF2F6;
}
.n_t-bottom p{
    margin: 0;
}
.n_t-bottom {
    background-color: #FFFFFF;
}
.bg-gold {
    background-color: #E2D2A3;
}
.bg-blue {
    background-color: #27374D;
}
.n_t-price {
    z-index: 3;
    background-color: #FFFFFF;
    color: #3d3d3d;
    border-radius: 1px;
    padding: 0;
    border: 5px solid #cccccc;
    -moz-border-image: -moz-radial-gradient(#ffffff 0%, #cccccc 100%);
    -webkit-border-image: -o-radial-gradient(#ffffff 0%, #cccccc 100%);
    -o-border-image: radial-gradient(#ffffff 0%, #cccccc 100%);
    border-image: -webkit-radial-gradient(#ffffff 0%, #cccccc 100%);
    border-image-slice: 1;
}
.n_t-price > div {
    padding: 0.5em;
}
@media only screen and (max-width: 767px) {
    .n_t-wrap {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}
.n_t-detail-price.gold {
    font-weight: bold;
}
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -12px;
    right: -13px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 80px;/*100*/
    height: 80px;/*100*/
    border-radius: 3px 5px 3px 0;
}
.cnrflash-reservation
{
    /*Position correctly within container*/
    position: absolute;
    top: 22px;
    right: 7px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 80px;
    height: 80px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 115px;/*145*/
    height: 115px;/*145*/
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -12px;
    width: 0;
    height: 0;
    border: 6px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}
.contact-content {
    color: #27374D;
    background-color: #FFFFFF;
    padding: 2em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.contact-hr {
    background-color: #27374D;
    height: 2px;
    width: 100%;
}
.contact-header {
    padding-top: 70px;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}
@media only screen and (max-width: 480px) {
    .contact-content {
        padding: 0 0 2em 0;
    }
}
.planSite-content p {
    padding: 3px 0;
    margin-top: 0;
    margin-bottom: 0;
}
.planSite-content {
    text-align: center;
    color: #27374D;
    background-color: #FFFFFF;
    padding: 2em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.planSite-header {
    padding-top: 70px;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}
@media only screen and (max-width: 480px) {
    .planSite-content {
        padding: 0 0 2em 0;
    }
}
.h1-sub {
    font-size: 0.8em;
    text-transform: none;
    font-weight: 300;
}
.h2-sub {
    font-family: 'Cardo', sans-serif;
    font-size: 0.7em;
    text-transform: none;
    font-style: italic;
}
.stage-wrap {
    height: 100%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.f_tab {
    padding: 20px 0 0 0;
    background-color: #27374D;
    color: #27374D;
    text-align: center;
    height: 80px;
    margin: 0 0;
}
.f_tab.active {
    background-color: #eef2f6;
}
.f_tab.active:hover {
    background-color: #eef2f6;
}
.f_tab:hover {
    background-color: #C5A547;
    cursor: pointer;
}
.f_tab-container > div:last-child {
    border-left: 3px solid #27374D;
}
.f_tab-container > div:first-child {
    border-right: 3px solid #27374D;
}
.f_tab-container > div {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    background-color: #FFFFFF;
    height: 100%;
    border-bottom: 3px solid #27374D;
    padding-bottom: 15px;
}
.f_tab-container {
    padding: 0;
}
.f_sticker > img {
    width: 80px;
}
.hr-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #C5A547;
    bottom: -6px;
}
.dot-right {
    right: 49%;
}
.dot-left {
    left: 49%;
}
.hr-link {
    height: 200px;
    padding: 70px 0 0 0;
}
.hr-link > div {
    height: 100%;
    width: 50%;
    border-top: 2px dotted #27374D;
}
.hr-link-right > div {
    float: left;
    border-right: 2px dotted #27374D;
    border-top-right-radius: 100%;
}
.hr-link-left > div {
    float: right;
    border-left: 2px dotted #27374D;
    border-top-left-radius: 100%;
}
#fonctionnement {
    border-bottom: 40px solid #27374D;
}
@media only screen and (max-width: 480px) {
    .f_sticker {
        width:100%;
    }
}

#service-stage {
    text-align: center;
}
#service-stage h1 {
    margin-top: 90px;
    background-color: rgb(39, 55, 77);
    background-color: rgba(39, 55, 77, 0.7);
    padding: 15px;
}
.wrap-col-between {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.btn-service {
    cursor: pointer;
    color: white;
    padding: 10px;
    background-color: #27374D;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn-service:hover {
    text-decoration: inherit;
    color: #27374D;
    background-color: #C5A547;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#service-stage {
    height: 100%;
    width: 100%;
    background: url('/img/nobo/gallery/paris-nobo.png') center center no-repeat;
    background-size: cover;
    min-width: 100%;
    color: #FFF;
}
.fix-box-service {
    margin-left: -10px;
    margin-right: -10px;
}
.box-service {
    padding: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.box-service h3 {
    font-size: 0.8em;
    width: 100%;
    position: absolute;
}
.box-service img {
    border: 2px solid #27374D;
}
.box-service .bg-h3 {
    max-width: 404px;
    text-align: center;
    position: absolute;
    color: white;
    height: 30%;
    width: calc(100% - 20px);
    bottom: 10px;
    background-color: rgb(39, 55, 77);
    background-color: rgba(39, 55, 77, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.box-service:hover .bg-h3{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: rgb(197, 165, 71);
    background-color: rgba(197, 165, 71, 0.7);
}
.service-btn-blue:hover {
    background-color: rgba(197, 165, 71, 0.7);
}
.service-btn-blue {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    padding: 15px;
    color: #27374D;
    border: 2px solid #27374D;
}
.intro-box {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(39,55,77);
    background-color: rgba(39,55,77,0.7);
}

.btn-stage-v2 {
    color: #FFF;
    background: none;
    background: rgba(0, 0, 0, 0.4);
    padding: 0.9em 2em;
    border: 2px solid #FFF;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.btn-stage-v2:hover {
    background: rgb(200, 200, 200);
    background: rgba(100, 100, 100, 0.4);
}
.btn-arr {
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 1.2em;
    padding: 15px;
}
.underline {
    text-decoration: underline;
}
.nomarge-bottom {
    margin-bottom: 0;
}
.pad-top {
    padding-top: 3em;
}
.img-gouv {
    margin: auto;
    width: 60%;
}
.img-center {
    margin: 0 auto;
}
@media only screen and (max-width: 767px) {
    .service-btn-blue {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .pad-top {
        padding-top: 1em;
    }

    .nopadding-xs {
        padding: 0;
    }

    .n_t-detail-price {
        font-size: 1.5em;
    }

    .n_t-detail-price.gold {
        font-size: 2em;
    }
    .n_t-bottom {
        height: 80px;
    }
}
.team-wrap-all {
    padding: 0;
    margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
    .n_t-wrap {
        margin-top: 1em;
        margin-bottom: 2em;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .n_t-bottom {
        height: 100px;
    }
    .n_t-detail-price {
        font-size: 2em;
    }
    .n_t-detail-price.gold {
        font-size: 2.8em;
    }
    .team-wrap-all {
        margin-top: 1em;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: justify;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}
.func-sticker {
    background-color: rgb(240, 240, 240);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 468px) {
    .fix-h2-small {
        font-size: 1.2em !important;
    }
    .func-sticker {
        height: 100px;
        width: 100px;
    }
    .func-sticker > img {
        width: 70%;
        margin: auto auto;
    }
}
.team-fdc>div {
    margin-top: 0;
}
.team-fdc {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.a-default {
    color: white;
    text-decoration: none;
}
.a-default:hover {
    color: white;
    text-decoration: underline;
}
.btn-outline-blue {
    color: #27374D;
    background: transparent;
    padding: 0.9em 2em;
    border: 2px solid #27374D;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.btn-outline-blue:hover {
    background: rgb(197, 165, 71);
    background: rgba(197, 165, 71, 0.8);
}
.section-dark .btn-outline-blue {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
.flex-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-col {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.flex-arround-stretch {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex-arround {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-center {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-center-stretch {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.mission-img {
    margin: auto!important;
}
@media only screen and (max-width: 767px) {
    .voisin-box {
        height: 160px;
    }
    .mission-img {
        width: 70%;
    }
}
@media only screen and (min-width: 768px) {
    .team-subtitle {
        color: white;
        padding: 1.5em 0 0 0;
    }
    .voisin-box {
        height: 140px;
    }
    .team-box-main>div {
        margin: 0;
    }
}
.pastille-nobo {
    background-color: #27374D;
    border: 3px dotted #C5A547;
    color: #C5A547;
    border-radius: 50%;
    padding-top: 6px;
    height: 60px;
    width: 60px;
    margin-left: -17px;
}
.fonctionnement-content > div {
    padding: 0;
}
.poincon {
    /*color: #3f3f3f;*/
    color: #27374D;
    text-align: center;
    background-color: #fff!important;
}
.poincon-xs-link {
    background-color: ghostwhite;
    border-top: 2px solid #27374D;
    position: fixed;
    bottom: 0;
    height: 50px;
    padding: 0;
    cursor: pointer;
    z-index: 100;
}
@media only screen and (max-width: 767px) {
    .pastille-nobo {
        height: 32px;
        width: 32px;
        padding-top: 3px;
    }
    .fonctionnement-content > div {
        margin-bottom: 1em;
    }
    .fonctionnement-content > div .poincon {
        height: 65px;
    }
    .fonctionnement-content .poincon img {
        max-width: 50px;
        width: 200%;
    }
    .fonctionnement-content > div .poincon > div:nth-child(2){
        padding: 0;
    }
    .long-h1-mobile {
        font-size: 0.7em;
    }
}
@media only screen and (min-width: 768px) {
    .pastille-nobo {
        font-size: 2em;
    }
    .fonctionnement-content>div {
        margin-top: -2em;
    }
    .fonctionnement-content>div:last-child {
        margin-top: 1em;
    }
    .fonctionnement-content > div:nth-child(odd) {
        padding-left: 30px;
    }
    .fonctionnement-content > div:nth-child(even) {
        padding-right: 30px;
    }
    .fonctionnement-content > div:nth-child(odd) .poincon > div {
        order: 1;
    }
    .fonctionnement-content > div:nth-child(odd) .poincon > div:last-child {
        margin-left: -17px;
        order: 0;
    }
    .fonctionnement-content > div:nth-child(even) .poincon > div:last-child {
        margin-right: -17px;
    }
    .fonctionnement-content > div:nth-child(odd) .poincon > div:first-child {
        order: 2;
    }
    .fonctionnement-content > div:nth-child(even) .poincon {
        border-radius: 55px 15px 15px 55px;
    }
    .fonctionnement-content > div:nth-child(odd) .poincon {
        border-radius: 15px 55px 55px 15px;
    }
    .fonctionnement-content > div:nth-child(odd) .poincon > div:nth-child(2){
        padding-left: 0;
        margin-left: -17px;
    }
    .fonctionnement-content > div:nth-child(even) .poincon > div:nth-child(2){
        padding-right: 0;
        margin-right: -17px;
    }
}
/*
.fonctionnement-flow {
    position: absolute;
    width: 1px;
    border-left: dashed #C5A547 1px;
    border-right: dashed #C5A547 1px;
    height: 220px;300
    left: 27px;
    top: 50%;
    z-index: 3;
}
*/
.fonctionnement-button {
    padding-top: 8px;
}
.btn-transition-blue {
    display: block;
    width: 100%;

}
.btn-transition-blue {
    display: block;
    width: 100%;
    background-color: #27374D;
    padding: 1em;
    margin: 1em 0;
    color: #C5A547;
    -webkit-transition: padding-left 0.8s;
    -moz-transition: padding-left 0.8s;
    -o-transition: padding-left 0.8s;
    transition: padding-left 0.8s;
}
.btn-transition-blue:hover {
    color: #C5A547;
    text-decoration: none;
    padding-left: 3em;
}
@media only screen and (max-width:991px) and (min-width:768px)  {
    .below-sticker {
        height: 160px;
        border: 1px #CCCCCC solid;
        border-radius: 5px;
        padding: 1em;
    }
}
.mobile-menu {
    color: white;
    background-color: white;
    line-height: 50px;
    height: 50px;
}
.btn-important {
    color: white;
    width: 100%;
    background: #019d01;/*red: 9E0101*/
    padding: 0.9em 2em;
    font-weight: bold;
    border-radius: 1px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.btn-important:hover {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
.section-chapeau {
    background-color: white;
    color: #27374D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 35px;
}
.flyer-redux {
    padding: 2em;
}
@media only screen and (min-width: 768px) {
    .btn-callback {
        letter-spacing: 1px;
    }
    .chapeau-part > div:first-child{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}
@media only screen and (max-width: 767px) {
    .section-chapeau {
        padding: 0;
        display: block;
    }
    .section-flyer {
        padding-left: 1em;
        padding-right: 1em;
    }
    .chapeau-part {
        padding: 0;
    }
}
.chapeau-part h2 {
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 0;
    text-transform: none;
    border-left: 3px dotted black;
    color: #C5A547;
}
.chapeau-part>div:first-child {
    padding: 1em 10px;
}
.section-chapeau hr {
    border: 2px solid rgba(150, 150, 150, 0.3);
    border-radius: 50%;
}
.btn-callback {
    color: #FFF;
    background: none;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #FFF;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    text-transform: uppercase;
}

.btn-callback:hover {
    color: inherit;
    background: rgb(200, 200, 200);
    background: rgba(100, 100, 100, 0.4);
}