.reservation-card {
    min-height: 500px;
}
.reservation-helper {
    border-top: 2px solid var(--nobo-main-color);
}
.material-icons {
    cursor: pointer;
}
.material-underline-like {
    border-bottom: 2px solid var(--nobo-main-color);
}
.material-underline-like:hover {
    border-bottom-color: var(--nobo-grey-color-alt);
    -webkit-transition: border-bottom-color 0.5s ease-out;
    -moz-transition: border-bottom-color 0.5s ease-out;
    -o-transition: border-bottom-color 0.5s ease-out;
    transition: border-bottom-color 0.5s ease-out;
}
.removeTime {
    position: absolute;
    z-index: 2;
    transform: translateX(0%) translateY(-50%);
    left: 10%;
    top: 50%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.addTime {
    position: absolute;
    z-index: 3;
    transform: translateX(0%) translateY(-50%);
    right: 10%;
    top: 50%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.addTime.fancy-position {
    right: 50%;
    transform: translateX(50%) translateY(-50%);

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.removeTime.fancy-position {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.time-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}
.v-hidden {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
.v-hidden.deactivate {
    opacity: 1;
    visibility: visible;
}
.d-hidden {
    opacity: 0;
    transition: opacity 2s linear;
}
.d-hidden.deactivate {
    opacity: 1;
    display: block;
    transition: opacity 2s linear;
}
.time-text.v-hidden {
    transition: opacity 1s ease-out;
}
.time-text.v-hidden.deactivate {
    transition: opacity 1s ease-out;
}
.btn-link-v2 {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 10px;
    padding: 0;
    color: #00b0ff;
    font-weight: bold;
}
.btn-link-v2:hover {
    text-decoration: underline #00b0ff;
}
@keyframes bounce-chevron {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
}
.stepBack {
    position: absolute;
    left: 20px;
}
.stepBack:hover {
    animation: bounce-chevron 0.5s;
}
.hourDiv {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.hourDiv:hover {
    background-color: var(--nobo-main-color-light);
}
.hourDiv.active {
    background-color: var(--nobo-main-color);
}
.weekDiv.deactivate {
    color: gray;
}
@media only screen and (min-width: 768px) {
    .table-fixed thead {
        font-size: 0.9em;
    }
    .table-fixed tbody {
        display: block;
        height: 300px;
        overflow-y: auto;
        font-size: 0.8em;
    }

    .table-fixed tbody > tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .table-fixed thead > tr > th,
    .table-fixed tbody > tr > td {
        width: 12.5%;
    }
    .table-fixed thead > tr > th:first-child,
    .table-fixed tbody > tr > td:first-child {
        width: 10%;
    }
    .table-fixed thead > tr > th:last-child,
    .table-fixed tbody > tr > td:last-child {
        width: 5%;
    }
    .hidden-lg {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .table-fixed {
        display: none;
    }
}
.hour-display-xs {
    overflow: auto;
    height: 200px;
    border-top: 2px solid black;
}

/*

@media only screen and (min-width: 768px) {
    .table-fixed thead{
        font-size: 1em;
    }
    .table-fixed tbody {
        display: block;
        height: 300px;
        overflow-y: auto;
        width: 100%;
        font-size: 0.8em;
    }
    .table-fixed tbody > tr {
        display: table;
        width:100%;
        table-layout:fixed;
    }
}
@media only screen and (max-width: 767px) {
    .table-fix-sm {
        height: 300px;
        overflow: auto;
    }
}
.table-fixed tbody tr {
    display: table;
    width:100%;
    table-layout:fixed;
}
*/